/*

General CSS

*/

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

header .logo {
    width: 75px;
    height: auto;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

header h2.subheading {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #8ec07c;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    position: relative;
    transition: color 0.5s ease;
}

header h2.subheading:hover {
    animation: rainbow-text 3s infinite;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.logo-small .logo {
    width: 75px;
    padding: 0 55px 10px 10px;
    height: auto;
}

@keyframes rainbow-text {
    0% { color: #fb4934; }
    14% { color: #fe8019; }
    28% { color: #fabd2f; }
    42% { color: #b8bb26; }
    57% { color: #83a598; }
    71% { color: #d3869b; }
    85% { color: #8ec07c; }
    100% { color: #fb4934; }
}

.color-block {
    background-color: #1f1f1f;
    width: 70%;
    max-width: 800px;
    margin: 40px auto 0 auto;
    padding: 30px 30px 45px;
    border-radius: 8px;
}

/*

Account Login, Forgot Password & Registration CSS

*/

#registrationForm input[type="email"],
#registrationForm input[type="password"],
#loginForm input[type="email"],
#loginForm input[type="password"],
#registrationForm input[type="text"],
#loginForm input[type="text"],
#resetPasswordForm input[type="email"],
#accountForm input[type="password"],
#accountForm input[type="email"],
#accountForm input[type="text"] {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid gray;
    background-color: #1f1f1f;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#registrationForm,
#loginForm,
#resetPasswordForm,
#accountForm,
#deleteAccountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#registrationForm input[type="submit"],
#loginForm input[type="submit"],
#resetPasswordForm input[type="submit"],
#accountForm input[type="submit"],
#deleteAccountForm input[type="submit"] {
    width: auto;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: none;
}

#deleteAccountForm input[type="submit"] {
    margin-top: 10px;
    background-color: #ff5555;
}

#deleteAccountForm input[type="submit"]:hover {
    background-color: red;
    transition: background-color 500ms ease;
}

.input-container {
    position: relative;
    width: 80%;
    margin-bottom: 15px;
}

#eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-60%);
    cursor: pointer;
    color: #FFFFFF;
}

#loginForm input[type="email"]:hover,
#loginForm input[type="password"]:hover,
#registrationForm input[type="email"]:hover,
#registrationForm input[type="password"]:hover,
#resetPasswordForm input[type="email"]:hover,
#accountForm input[type="password"]:hover,
#accountForm input[type="email"]:hover {
    border: 3px solid #ffffff;
    transition: border-color 500ms ease;
}

#loginForm input[type="email"]:focus,
#loginForm input[type="password"]:focus,
#registrationForm input[type="email"]:focus,
#registrationForm input[type="password"]:focus,
#resetPasswordForm input[type="email"]:focus,
#accountForm input[type="password"]:focus,
#accountForm input[type="email"]:focus {
    outline: none;
    border: 3px solid #ffffff;
}

#loginForm input[type="submit"]:hover,
#registrationForm input[type="submit"]:hover,
#resetPasswordForm input[type="submit"]:hover,
#accountForm input[type="submit"]:hover {
   background-color: #387c3c;
    transition: background-color 500ms ease;
}

.account-links {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-top: 30px;
}

/*

Login, Forgot Password & Register Page Links CSS

*/

.return-to-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.forgot-password,
.register,
.login,
.return-to-login {
    color: #ffffff;
    font-size: 14px;
    text-decoration: underline;
}

.forgot-password:hover,
.register:hover,
.login:hover,
.return-to-login:hover {
    color: #8ec07c;
}

.delimiter {
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
}


/*

Footer CSS

*/

footer {
    padding: 20px 30px;
    background-color: #1f1f1f;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    width: 70%;
    max-width: 800px;
    margin: 40px auto;
}

footer a.footer-email {
    color: #8ec07c;
    text-decoration: none;
}

footer a.footer-email:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
}

/*

Top Panel CSS

*/

.top-panel {
    background-color: #1f1f1f;
    color: white;
    width: 100%;
    position: fixed;
    padding-top: 15px;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.top-panel-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.search-bar-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 400px;
}

.search-icon {
    position: absolute;
    top: 18px;
    left: 12px;
    font-size: 18px;
    color: #ffffff;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid gray;
    background-color: #1f1f1f;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.search-bar::placeholder {
    color: #ffffff;
}

.account-container {
    display: flex;
    align-items: center;
    padding: 0 20px 10px 0;
    gap: 10px;
}

.account-btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.account-btn i {
    margin-right: 5px;
}

.account-text {
    font-size: 14px;
}

/*

Bottom/Music Panel CSS

*/

.music-control-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.music-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.music-info {
    text-align: left;
    width: 35%;
    flex-shrink: 0;
}

.song-title, .song-artist {
    font-size: 18px;
    color: white;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-title {
    font-size: 20px;
}

.song-artist {
    font-size: 16px;
    color: #bbb;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.control-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.control-btn:hover {
    background-color: #7a9c6a;
}

.fa-backward, .fa-play, .fa-forward {
    font-size: 24px;
}

.volume-control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
    margin-top: 4px;
}

.volume-slider {
    width: 150px;
    margin: 0 10px;
    accent-color: #8ec07c;
}

/*

Album CSS

*/

.album-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.album-grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 180px;
    padding: 16px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-cover {
    width: 100%;
    height: auto;
    max-height: 180px;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
}

.album-grid-item h3,
.album-grid-item .artist-name,
.album-grid-item .album-description {
    text-align: center;
}

.album-grid-item h3 {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 18px;
    margin: 0;
}

.album-grid-item .artist-name {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
}

.album-grid-item .album-description {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
}

.album-grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hover-play-btn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 60%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s ease 0.3s;
}

.album-grid-item:hover .hover-play-btn {
    opacity: 1;
    visibility: visible;
}


/*

Search Results CSS

*/

#album-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.no-albums {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
}

#results-container h2{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 24px;
}

/*

Artist Page CSS

*/

.artist-section {
    color: white;
}

.artist-section h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-image {
    width: 100%;
    height: auto;
    max-height: 500px;
    border-radius: 8px;
    object-fit: cover;
}

/*

Account Page CSS

*/

.logout-btn {
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #d32f2f;
}